@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Poppins:300');

$primary-color: #89FFFA;
$secondary-color: #22403E;
$terciary-color: #447F7D;

$nav-big-space: 100px;
$nav-small-space: 50px;

@mixin st-bg-img ($img) {
    background: url($img) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Poppins', sans-serif;
}

.indie {
    font-family: 'Indie Flower', sans-serif;
}

.product-info-color {
    color: #0077FF;
}

nav {
    text-align: center;
    background-color: $primary-color;

    h1, h4 {
        margin-top: 10px;
        color: $secondary-color;
    }

    h1 {
        margin-left: $nav-small-space;
        font-weight: bold;
    }

    h4 {
        margin-right: $nav-small-space;

        &:hover {
            color: $terciary-color;
        }
    }

    #last-item {
        margin-right: $nav-small-space;
    }
}

.product-info {
    font-size: 2em;

    h1 {
        font-weight: bold;
        font-size: 2em;
    }
}

.product-pic {
    border-radius: 100%;
    margin: 0 auto;
}

#product-pic-1 {

    @include st-bg-img("../img/soap.jpg");
}
